In [10]:
print('test')

import pandas as pd
dataexcel=pd.read_excel('line.xlsx')
print(dataexcel)
dataexcel.shape
dataexcel.describe()



dataexcel.head(3)

test
        Date  Batch 1  Batch 2  Batch 3
0 2015-09-01       40       30       25
1 2015-09-02       40       25       30
2 2015-09-03       50       30       45
3 2015-09-04       30       25       40
4 2015-09-05       25       35       30
5 2015-09-06       20       40       35

        Date  Batch 1  Batch 2  Batch 3
0 2015-09-01       40       30       25
1 2015-09-02       40       25       30
2 2015-09-03       50       30       45

In [11]:
dataexcel.head(2)

        Date  Batch 1  Batch 2  Batch 3
0 2015-09-01       40       30       25
1 2015-09-02       40       25       30

In [12]:
dataexcel.loc[1]

Date       2015-09-02 00:00:00
Batch 1                     40
Batch 2                     25
Batch 3                     30
Name: 1, dtype: object

In [13]:
# dataexcel[Batch 1	].plot()

dataexcel.plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.